html {
	FONT-SIZE: 100%; BACKGROUND: #fff; -MS-TEXT-SIZE-ADJUST: 100%; -webkit-text-size-adjust: 100%
}

body { 
  display: grid;
  grid-template-areas: 
    "header header header header"
    "nav article ads blanc"
    "footer footer footer footer";
  grid-template-rows: auto auto auto;  
  grid-template-columns: auto 45% 10%;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  height: 100vh;
  margin: 0;
  /* DWei font setting */
  FONT-SIZE: 1.0em; 
  FONT-FAMILY: Georgia; 
  COLOR: #222;
  }  
header{
  background: #1D8348;
  }
footer{
  background: #1D8348;
  }
ads{
  background: #660066;
  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads;
  FONT-SIZE: 1.2em; 
  BACKGROUND: #FFFAFA; 
  FLOAT: right; 
  PADDING-BOTTOM: 15px; 
  PADDING-TOP: 0px; 
  PADDING-LEFT: 10px; 
  PADDING-RIGHT: 10px; 
  MARGIN-TOP: 0px; 
  WIDTH: 200px
  } 
  
#siteAds .easylink {
	FONT-SIZE: 0.9em; FONT-WEIGHT: normal
}
#rightBlanc {
  grid-area: blanc;
  }
 
  
 /* styles */

H0 {
	FONT-SIZE: 1.8em;  display:inline-block;
}
H1 {
	FONT-SIZE: 1.5em; PADDING-TOP: 15px; display:inline-block;   
}
H2 {
	FONT-SIZE: 1.3em; PADDING-TOP: 15px; display:inline-block;   
}
H3 {
	DISPLAY: bold
}
P  {
	MARGIN: 10px 40px 10px 10px
}
hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px dashed #ccc;
    margin: 0em auto;
    padding: 0;
}


a:link {
color:#483D8B;
text-decoration:none;
}
a:visited {
color:#6600cc;
text-decoration:none;
}
a:hover {
color:#ffaa80;
text-decoration:none;
}
a:active {
color:#FFFFFF;
text-decoration:none;
}

.tablink:link{
	color:#000000;
}
.tablink:visited{
	color:#000000;
}
.tablink:active {
color:#000000;
}
.tablink:hover{
	color:inherit;
}

TABLE {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px;  FONT-SIZE: 1.0em; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left; WIDTH: auto; BACKGROUND-COLOR: #FFFFF;
}

div.left {
    float: left;
    clear: both;
	FONT-SIZE: 0.8em; TEXT-ALIGN: center; WIDTH: 40px; BACKGROUND-COLOR: #F0FFF0
}
div.right {
    float: right;
    clear: both;
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px;  FONT-SIZE: 1.0em; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left; WIDTH: auto; BACKGROUND-COLOR: #FFFFF;
}


.left {
	FONT-SIZE: 0.8em; TEXT-ALIGN: center; WIDTH: 40px; BACKGROUND-COLOR: #F0FFF0
}
.footab {
	background-color: #1D8348;
	width: 100%;
	border: 0px;
	font-size: 13px;
	font-family: "Courier New";
	color: #1D8340;
}
  
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
	  "blanc"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}

/* add modal based on https://www.w3schools.com/howto/howto_css_modal_images.asp */
/* Style the Image Used to Trigger the Modal */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* button */
button {
  background-color: #F5F5F5; /* Green */
  border: 1px solid #DCDCDC;
  color: balck;
  padding: 1px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button:hover {
  background-color: #D3D3D3;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 5.0em;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


